<main class="mainSection">
    <div class="accaount">
       
        <form #form="ngForm" class="accaount__form" (ngSubmit)="onSubmite(form)">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input ngModel type="text" name="username" id="username">
            
            <label for="password">Password</label>
            <input ngModel name="password" type="text" id="password">
            
            <button class="submit_btn">Login</button>
        </form>
        
    </div>




</main>