<div class="product_conteiner">
    <img class="img_of_product" src="assets/img/card1.jpeg" alt="">
    <h2 class="name_of_product">Rush Warrior</h2>

    <ul class="info_list">
        <li>
            <p class="price">
                price:<span>002</span>
            </p>
        </li>
        <li>
            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus nemo quaerat corporis, itaque vitae porro quos odio cumque neque autem delectus ea
                assumenda
                voluptatem quidem maxime possimus vero magni omnis!
            </p>
        </li>
        <li class="createAt">Create At: <span>42.54.2451</span></li>
    </ul>

    <div class="btn_conteiner">
        <button class="del">Delet</button>
        <button>Edit</button>
        <button>like</button>
    </div>
    <button>Buy</button>
    <button>Close</button>
</div>
