<div class="img_bg" >

    <img class="img_bg__items"  src="assets/img/bg_logo.png" style="min-height: 600px;" alt="" >
    <img class="img_bg__items"  src="assets/img/exzodiq.png"  alt="" >
    <img class="img_bg__items"  src="assets/img/darckMagic.png"  alt="" >
</div>



<footer class="footer">
    <div class="aboutas">
        <h3>About As</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sapiente fugit possimus libero
            laborum earum beatae neque, accusamus, blanditiis vitae dolorum aliquam unde soluta dolorem corporis quo
            sequi repudiandae fuga.</p>
        <div class="contacts">

            <label>Email Address <span class="contacts__info">YUGIOH@DSP.com</span></label>
            <label>Phone Nomber <span class="contacts__info">+9995848555</span></label>
        </div>
    </div>
    <ul class="sociale_list">
        <h3>Social</h3>
        <li><i class="sociale fab fa-facebook"></i></li>
        <li><i class="sociale fab fa-instagram"></i></li>

    </ul>



</footer>
<p class="createBY"><span>&copy;</span> Create by DSP :)</p>
