
    <main class="mainSection">
        <div class="accaount">
           
            <form  class="accaount__form" action="">
                <h2>Register</h2>
                <label for="username">Username</label>
                <input type="text" id="username">
                <label for="email">Email</label>
                <input type="text" id="email">
                <label for="password">Password</label>
                <input type="text" id="password">
                <label for="Re-Password">Re-Password</label>
                <input type="text" id="Re-Password">
                <button  (ngClic)="onSubmit()" class="submit_btn" >Register</button>
            </form>
            
        </div>




    </main>