<main class="mainSection">
    <div class="accaount">
        <h2>Create Product</h2>
        <form class="card__form" action="">
            <label for="nameProduct">Name of product</label>
            <input type="text" id="nameProduct">

            <label for="productDescription">Product Description</label>
            <textarea name="productDescription" id="productDescription" cols="25" rows="5"></textarea>

            <label for="price">Price of product</label>
            <input type="text" id="price">

            <label for="imgUrl">Img File</label>
            <input type="file" id="imgUrl" accept="image/*">

            <label for="typeOfProduct">Type of Product</label>
            <select name="typeOfProduct" id="typeOfProduct"> 
                <option value="map">Map</option>
                <option value="card">Card</option>
                <option value="others">Others</option>
            </select>

            

            <label for="typeOfPost">Type of Post</label>
            <select name="typeOfPost" id="typeOfPost"> 
                <option value="Upcoming">Upcoming</option>
                <option value="ForSeal">For seal</option>
                
            </select>


            

          

            <button class="submit_btn" type="submit">Create</button>
        </form>

    </div>




