<header>
    <nav class="navigation_bar">
        <a href="">
            <img class="navigation_logo" src="/assets/img/YUGAME.png" alt="">
        </a>

        <ul class="navigation_bar__links">
            <!-- <li>my profil</li> -->
            <!-- <li>logout</li> -->
            <ng-template #LoggedIn>
                <a routerLink="/auth/myProfil">
                    <li>my profil</li>
                </a>
                <a routerLink="/auth/logout">
                    <li>logout</li>
                </a>
            </ng-template>
            <ng-template #loggedOut>
                <a routerLink="/auth/login">
                    <li>login</li>
                </a>
                <a routerLink="/auth/register">
                    <li>Register</li>
                </a>
            </ng-template>
            <ng-container *ngTemplateOutlet="isLoggedIn?LoggedIn:loggedOut "></ng-container>
        </ul>
    </nav>
    <div class="img_section">
        <div class="search_conteiner marginNav">
            <input type="text">
            <i class="fas fa-search search"></i>
        </div>
        <!-- <img class="navigation_logo_test" src="/img/YUGAME.png" alt=""> -->
        <!-- <h2 class="img_section__title home_heading">YU-GI-OH</h2> -->
        <img class="logo" src="/assets/img/logo.png" alt="">

        <i class="fas fa-shopping-basket car marginNav"></i>
    </div>
    <div class="mainSection__navigation">
        <ul class="mainSection__navigation__link">
            <li class="mainSection__navigation__links"><a routerLink="/home">home</a></li>
            <li class="mainSection__navigation__links"><a routerLink="/allProducts">products</a></li>
            <li class="mainSection__navigation__links"><a routerLink="/aboutAs">about as</a></li>
            <ng-container *ngIf="isAdmin">
                <li class="mainSection__navigation__links"><a routerLink="/createProduct">Create Product</a></li>
            </ng-container>
            
        </ul>
    </div>
</header>