<header>
    <nav class="navigation_bar">
        <a href="">
            <img class="navigation_logo" src="/assets/img/YUGAME.png" alt="">
        </a>

        <ul class="navigation_bar__links">
            <!-- <li>my profil</li> -->
            <!-- <li>logout</li> -->
            <li><a>login</a></li>
            <li><a>Register</a></li>
        </ul>
    </nav>
    <div class="img_section">
        <div class="search_conteiner marginNav">
            <input type="text">
            <i class="fas fa-search search"></i>
        </div>
        <!-- <img class="navigation_logo_test" src="/img/YUGAME.png" alt=""> -->
        <!-- <h2 class="img_section__title home_heading">YU-GI-OH</h2> -->
        <img class="logo" src="/assets/img/logo.png" alt="">

        <i class="fas fa-shopping-basket car marginNav"></i>
    </div>
    <div class="mainSection__navigation">
        <ul class="mainSection__navigation__link">
            <li class="mainSection__navigation__links">home</li>
            <li class="mainSection__navigation__links">products</li>
            <li class="mainSection__navigation__links">about as</li>
        </ul>
    </div>
</header>
