
<main class="mainSection">
    <div class="heroSection">
        <div class="newCards_section">
            <h2 class="newCards_section__heading home_heading">New Cards</h2>
            <section  class="new_cards_conteiner">
                
                <article *ngFor="let product of allProduct" class="new_cards__card" >

                    <img class="new_cards__card_img" src="{{product.card_images[0].image_url}}" alt="">
                    <h4 class="new_cards__card_title">{{product.name}}</h4>
                    <p class="new_cards__card_description">{{product.desc}}</p>
                    <p class="new_cards__card_price">{{product.card_prices[0].amazon_price}}.lv</p>
                    <a href=""><label class="new_cards__card__buyBtn">Details</label></a>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article>
                <!-- <article class="new_cards__card">
                    <header>

                        <img class="new_icon" src="assets/img/new.jpg" alt="">
                    </header>

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Card description</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article>
                <article class="new_cards__card">

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Card description</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article>
                <article class="new_cards__card">

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Card description</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article>
                <article class="new_cards__card">

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Card description</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article>
            </section>
        </div>
        <div>
            <h2 class="home_heading">upcoming charging</h2>
            <section class="new_cards_conteiner">
                <article class="new_cards__card">

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorum, harum. Eveniet esse distinctio nisi quos dolorum minima sit totam inventore fugit
                        itaque saepe, excepturi unde ipsam quia reprehenderit tenetur ipsa?</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article>
                <article class="new_cards__card">
                    <header>

                        <img class="new_icon" src="/img/new.jpg" alt="">
                    </header>

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Card description</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Купи</button>

                </article>
                <article class="new_cards__card">

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Card description</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article>
                <article class="new_cards__card">
                    

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Card description</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article>
                <article class="new_cards__card">

                    <img class="new_cards__card_img" src="/assets/img/card1.jpeg" alt="">
                    <h4 class="new_cards__card_title">card name</h4>
                    <p class="new_cards__card_description">Card description</p>
                    <p class="new_cards__card_price">card price</p>
                    <button class="new_cards__card__buyBtn">Buy</button>

                </article> -->
            </section>
        </div>
    </div>




</main>

